* {
  margin: 0;
  padding: 0; }

body {
  font-family: Montserrat; }

a {
  text-decoration: none; }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("img/mainFoto.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .main .mainCont {
    max-width: 700px;
    padding: 7% 15% 0 0; }
    .main .mainCont .elem {
      width: 100%; }
      .main .mainCont .elem h2 {
        margin-bottom: 88px;
        color: #444444;
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase; }
      .main .mainCont .elem p {
        display: block;
        margin-bottom: 23px;
        font-family: Muli;
        color: #757575;
        font-size: 13px;
        font-weight: 400; }
      .main .mainCont .elem a {
        box-sizing: border-box;
        display: inline-block;
        padding: 15px 25px 15px 25px;
        color: #444;
        border: 1px solid #000; }
  .main .owl-dots .owl-dot {
    width: 22px;
    height: 4px;
    margin-left: 3px;
    background-color: #e3e3e3;
    outline: none; }
  .main .owl-dots .active {
    background-color: #444; }

.wrap_header {
  width: 100%;
  height: 80px;
  background-color: #2a2a2a; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto; }

/* LOGO */
/* MENU */
.menu ul {
  display: inline-block; }
  .menu ul li {
    display: inline-block;
    position: relative; }
    .menu ul li > a {
      display: block;
      width: 120px;
      height: 40px;
      /* border: 1px solid #000; */
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      transition: all .4s; }
      .menu ul li > a:hover {
        color: #ffe400; }

.about {
  width: 100%;
  background-image: url("img/about.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .about .head_text {
    width: 100%;
    margin-top: 135px; }
    .about .head_text h3 {
      margin-bottom: 35px;
      color: #444;
      font-size: 36px;
      font-weight: 700;
      text-align: center; }
    .about .head_text p {
      display: block;
      width: 936px;
      margin: 0 auto;
      font-family: Muli;
      color: #757575;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }
  .about .butonns {
    width: 100%;
    margin-top: 70px;
    text-align: center; }
    .about .butonns a {
      display: inline-block;
      width: 226px;
      height: 62px;
      margin-left: 24px;
      background-color: #000;
      color: #ffe400;
      font-size: 18px;
      font-weight: 400;
      line-height: 62px;
      text-align: center;
      transition: all .4s; }
      .about .butonns a:hover {
        background-color: #ffe400;
        color: #000; }
  .about .service {
    width: 100%;
    display: flex;
    margin-top: 80px;
    justify-content: center; }
    .about .service .elem {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 400px;
      margin-left: 20px;
      background-color: #000;
      color: #fff;
      text-align: center;
      overflow: hidden;
      transition: all .4s; }
      .about .service .elem svg {
        margin-bottom: 50px; }
        .about .service .elem svg g {
          fill: #ffe400; }
      .about .service .elem h4 {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 700; }
      .about .service .elem p {
        position: relative;
        z-index: 1;
        display: none;
        font-family: Muli;
        font-size: 16px;
        font-weight: 400; }
      .about .service .elem span {
        position: absolute;
        right: -86px;
        bottom: -137px;
        z-index: 0;
        display: none; }
      .about .service .elem:hover {
        background-color: #ffe400; }
      .about .service .elem:hover g {
        fill: #fff; }
      .about .service .elem:hover p {
        display: inline-block; }
      .about .service .elem:hover span {
        display: inline-block; }
  .about .bottom_h4 {
    margin-top: 180px;
    color: #444444;
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .about .statistic {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 125px auto 150px; }
    .about .statistic .elem h5 {
      color: #444;
      font-size: 46px;
      font-weight: 700; }
    .about .statistic .elem p {
      font-family: Muli;
      color: #757575;
      font-size: 13px;
      font-weight: 400; }

.test {
  height: 100vh; }
